/ //////////////////////Nav styling starts///////////////////////
nav {
   overflow: hidden;
   background-color: #f9f9f9;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   ul {
     text-align: center;
     list-style-type: none;
     list-style-type: none;
     margin: 0;
     padding: 20px;
     li {
       display: inline;
       font-family: "poppins", sans-serif;
       font-size: 20px;

       a {
         color: #666666;
         text-decoration: none;
         padding: 7px;
         font-family: poppins;

       }
     }
   }
 }
 /////////////////////nav styling ends////////////////////////
 body, html {
   height: 100%;
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
}

.container1 {
 background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/home.jpg");
 height: 100%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 .container1-text {
   text-align: center;
   position: absolute;
   font-size: 25px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
 }
 span{
   font-size: 15px;
 }
 .container1-text  .button-1{
   outline: 0;
   display:inline-block;
   padding:12px 28px;
   color:white;
   border: 1px solid #ee534f;
   border-radius: 2px;
   background-color: #ee534f;
   text-align: center;
   transition: all 0.5s;
   cursor: pointer;
 }
 .button-1 span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.5s;
   color: white;
 }
 .button-1 span:after {
   content: "279E";
   position: absolute;
   opacity: 0;
   top: 0;
   right: -20px;
   transition: 0.5s;
   color: white;
 }

 .button-1:hover span {
   padding-right: 25px;
   color: white;
 }
 .container1-text  .button-2{
   outline: 0;
   display:inline-block;
   padding:12px 28px;
   color:white;
   border: 1px solid white;
   border-radius: 2px;
   background-color: transparent;
   text-align: center;
   cursor: pointer;
 }
 .button-2 span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.5s;
   color: white;
 }
 .button-2 span:after {
   content: "279E";
   position: absolute;
   opacity: 0;
   top: 0;
   right: -20px;
   transition: 0.5s;
   color: white;
 }

 .button-2:hover span {
   padding-right: 25px;
   color: white;
 }

}
.first-section {
 display: grid;
 grid-template-columns: auto  auto;
 padding: 180px 0;
 background-color: white;
 text-align: center;
 justify-content: center;
}


when you come in retype the top dont past cope it to a other sheet and type is out