$main-color:#e38f84;
$text-color1:black;
$text-color2:#555555;
$primary-background:#e7e7e7;
$secondary-background:#f9f9f9;
$background: rgba(0, 0, 0, 0.7);
$link-color:#666666;
$scroll-color:#b2b2b2;


body {
    font-family: 'Poppins', sans-serif;
}