
.container4 {
  display: grid;
  grid-template-columns: auto auto;
  height: 50%;
  background-color: white;
  margin: 80px;
  margin-left: 180px;
  margin-top: -18%;
  margin-bottom: 34%;
  margin-right: 41%;
  }

  .container5 {
      display: grid;
  grid-template-columns: auto auto;
  height: 50%;
  background-color: white;
  margin: 80px;
  margin-left: 879px;
  margin-top: -899px;
  margin-bottom: 33%;
  margin-right: 0%;
     
      }
      
      .container6{
          margin-top: -30%;
      }
      .border-line{
          display: flex;
      }




      #grid2 { 
          display: grid;
      
          grid-template-columns: 1fr 1fr 1fr 1fr;
          margin-right: 319px;
          grid-gap: 40px;
          margin-right: 14px;
          margin-left: 186px;
          width: 77%;

  }  

  .grid-imageSize{
      height :270px;
      width: 250px;
  }

  .fa, .fab, .fal, .far, .fas {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      letter-spacing: 10px;
      color: #888888;
  }

  .SUBSCRIBE-TO-US {
      width: 170px;
      height: 15px;
      font-family: Poppins;
      font-size: 20px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: center;
      color: #555555;
      
      h4{
          margin-right: -782%;
      }
      p{
          width: 888%;
font-family: Poppins;
font-size: 14px;
font-weight: 300;
font-style: normal;
font-stretch: normal;
line-height: 1.86;
letter-spacing: normal;
text-align: center;
color: #666666;
      }
      
    }
    .fa-paper-plane{
      width: 20px;
      height: 21px;
      font-family: FontAwesome;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: left;
      color: #ee534f;
      margin-right: 12px;
    }
  
  // //////////////////////Nav styling starts///////////////////////
  nav {
      overflow: hidden;
      background-color: $secondary-background;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 99999;
      ul {
        text-align: center;
        list-style-type: none;
        list-style-type: none;
        margin: 0;
        padding: 20px;
        li {
          display: inline;
          font-family: "poppins", sans-serif;
          font-size: 20px;
          
          a {
            color: $link-color;
            text-decoration: none;
            padding: 22px;
            font-family: poppins;
           span{
             color: $main-color;
           } 
          }
        }
      }
    }
    /////////////////////nav styling ends////////////////////////
    body, html {
      height: 100%;
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
  }
  
  .container_1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/topImage.JPG");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .container_1-text {
      text-align: center;
      position: absolute;
      font-size: 25px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $secondary-background;
    }
    span{
      font-size: 15px;
    }
    .container_1-text  .button-1{
      outline: 0;
      display:inline-block;
      padding:12px 28px;
      color:$secondary-background;
      border: 1px solid $main-color;
      border-radius: 2px;
      background-color: $main-color;
      text-align: center;
      transition: all 0.5s;
      cursor: pointer;
    }
    .button-1 span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
      color: white;
    }
    .button-1 :hover:after {
      content: "\00bb";
      position: absolute;
      opacity: 1;
      top: 0;
      right: -20px;
      transition: 0.5s;
      color: white;
    }
    
    .button-1:hover span {
      padding-right: 25px;
      color: $secondary-background;
    }
    .container_1-text  .button-2{
      outline: 0;
      display:inline-block;
      padding:12px 28px;
      color:$secondary-background;
      border: 1px solid $secondary-background;
      border-radius: 2px;
      background-color: transparent;    
      text-align: center;
      cursor: pointer;
    }
    .button-2 span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
      color: $secondary-background;
    }
    .button-2 :hover:after {
      content: "\00bb";
      position: absolute;
      opacity: 1;
      top: 0;
      right: -20px;
      transition: 0.5s;
      color: $secondary-background;
    }
    
    .button-2:hover span {
      padding-right: 25px;
      color: $secondary-background;
    }
    
  }
  .container2 {
    display: grid;
    grid-template-columns: auto auto;
    height: 50%;
    background-color: white;
    margin: 80px;
    margin-left:180px;
    .button-3{
      margin-top:30px;
      outline: 0;
      display:inline-block;
      padding:10px 28px;
      color: $secondary-background;
      border: 1px solid $main-color;
      border-radius: 2px;
      background-color: $main-color;    
      text-align: center;
      cursor: pointer;
   }
    .first-text{
      display: inline-block;
      grid-template-columns: auto auto;
      p{
        font-size: 14px;
      }
    }
    .first-image img{
      width: 45%;
    padding: 5px;
    height: 45%;
    grid-gap: 300px;
    }
      .border{
        width:10%;
        color: $main-color;
        border-top: 3px solid;
        opacity:30%;
      }
      .border2{
        display:grid;
        width: 30%;
        color: lightgrey;
        border-top: 3px solid;
      }
     }

    //  //////grid black cut//////////////////////////////
     .container3 {
      background-color: black;
      height: 14%;
      display: grid;
      grid-gap: 2px;
      grid-template-columns: auto auto auto auto;
      margin-top: 50px;
      padding: 100px 100px;

  
     
      img{
        width:50px;
        
      }
      .text1{
        text-align: center;
       justify-content: center;
      }
    
      .size_2{
        color: white;
      
      }
      .messageTitle{
        color: white;
    text-align: center;
    
    font-size: 10px;
    line-height: 19px;
      }
  .boxAlign {
    text-align: center;
  }
  
  }


// navbar styling
  nav {
    overflow: hidden;
    background-color: $secondary-background;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    ul {
      text-align: center;
      list-style-type: none;
      list-style-type: none;
      margin: 0;
      padding: 20px;
      li {
        display: inline;
        font-family: "poppins", sans-serif;
        font-size: 20px;
        
        a {
          color: #666666;
          text-decoration: none;
          margin-left: 40px;
          padding: 14px;
          font-family: poppins;
         
        }
      }
    }
  }

//   cover styling
.section_1{
    padding:9%;
    background-color: $primary-background;
   .header-text1{
       font-size:20px;
       text-align: center;
       float: right;
       padding-left:290px;
       color:#555555;
   }
   img{
     width: 10px;
   }
   span{
     color: $main-color;
     
   }
   
  }
  .section_2{
    padding:10%;
    background-color: white;
    img{
      width: 15px;
      border: $primary-background solid 1px;
      border-radius: 4px;  
      padding: 3px ;
      display: inline-flex;
     }
    
    .border{
      width:7%;
      color: #e38f84;
      border-top: 3px solid;
      opacity:30%;
    }
    .border2{
      width:1%;
      color: $main-color;
      border-top: 3px solid;
      opacity:30%;
    }
    form{
      margin-top: 10px;
      .input-1{
        border-radius:4px;
        border: 1px $primary-background solid;
        padding: 12px 30px;
      
       }
      }
      .contact-box{
        display: flex;
        align-items:center;
        p{
          padding: 1px;
        }
      }
    }
    
  .input-2{
    border-radius:4px;
    border: 1px #e7e7e7 solid;
    width: 643px;
    height:200px;
    padding:10px;
   
  } 
  input.placeholder{
    float: left;
    text-align: left;
    justify-content: left;
   
  }
  .button-1{
    margin-top:30px;
    outline: 0;
    display:inline-block;
    padding:10px 28px;
    color: white;
    border: 1px solid #e38f84;
    border-radius: 2px;
    background-color: #e38f84;    
    text-align: center;
    cursor: pointer;
 }
 .body-text2{
   display:inline-block;
   margin-left:80px;
 }
 p{
   vertical-align: middle;
 }


.section_3{
  .mapouter {
    text-align: right;
    height: 400px;
    width: 1300px;
    filter: grayscale(100%);
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 1080px;
}
}


.section4{
  padding:40px;
  background-color: white;
  .bottom-body-text{
    margin-top: 5%;
    margin-left: 6%;
    margin-right: 8%;
    white-space: nowrap;
    color: #555555
  }
  .bottom-body-text2{
    margin-top: -21%;
    margin-left: 59%;
  }
  img{
    width: 15px;
    border: #e7e7e7 solid 1px;
    border-radius: 4px;  
    padding: 3px ;
    display: inline-flex;
   }
   .contact-box{
    display: flex;
    align-items:center;
    margin: 5%;
    p{
      font-size: 10px;
      padding: 1px;
    }
  }
  li{
    padding-bottom: 20px;
    color: #555555;
    
  }
  span li{
    color: $main-color;
  }
  .bottom-body-text3{
    margin-top: 7%;
    margin-left: 8%;
  }
  .bottom-body-text4{
    margin-top: 7%;
    margin-left: 8%;
  }
}


footer{
  background-color: $main-color;
  height: 30px;
  width: 100%;

  p{
    color: $primary-background; 
    margin-left: 15%;
  }
}
.scrolltop {
    width:100%;
    margin:0 auto;
    position:fixed;
    bottom:20px;
  right:10px;	
   .scroll {
    position:absolute;
    right:20px;
    bottom:20px;
    background:$scroll-color;
    background:rgba(178,178,178,0.7);
    padding:20px;
    text-align: center;
    margin: 0 0 0 0;
    cursor:pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s; 		
  }
  .scroll:hover {
    background:rgba(178,178,178,1.0);
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s; 		
  }
  .scroll:hover .fa {
    padding-top:-10px;
  }
  .scroll .fa {
    font-size:30px;
    margin-top:-5px;
    margin-left:1px;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s; 	
  }
}

  .grid2-image img{
    width:47%;
  padding: 5px;
  height: 47%;
  grid-gap: 300px;
  }

  .grid3-image img{
    width: 78%;
    padding: 5px;
    height: 98%;
    margin-bottom: 0%;
  }

  .grid2{
    h5{
      border-bottom: 1px solid grey;
      width: 100%;
      margin-top: -4%;
      padding-bottom: 14%;
      color: #888888;
    }
    h4{
      color: #555555;
    }
    p{
      color: #666666;
    }
  }
   

  .container10{
    @mixin white-gradient {
      background: linear-gradient(to right,  black,rgba(255,255,255,0) 100%);
    }
    
    $animationSpeed: 40s;
    
    // Animation
    @keyframes scroll {
      0% { transform: translateX(0); }
      100% { transform: translateX(calc(-250px * 7))}
    }
    
    
    // Styling
    .slider {
      background: black;
      box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
      height: 221px;
      margin: auto;
      overflow:hidden;
      position: relative;
      width: 1519px;
      margin-top: 15%;
    
    
    
      .slide-track {
        animation: scroll $animationSpeed linear infinite;
        display: flex;
        width: calc(250px * 14);
      }
    }
  }

  
.section_1{
  display: grid;
  grid-template-columns: auto auto;
}
.section_2 {
  display: inline-flex;
  grid-template-columns: auto auto;
  grid-column-start: 1;
  grid-column-end: 2; 
}
.section_4 {
  display: inline-flex;
  grid-template-columns: auto auto auto auto;
  grid-column-start: 1;
  grid-column-end: 2; 
}

.container4 {
  display: grid;
  grid-template-columns: auto auto;
  height: 50%;
  background-color: white;
  margin: 80px;
  margin-left: 180px;
  margin-top: -18%;
  margin-bottom: 34%;
  margin-right: 41%;
  }

  .container5 {
      display: grid;
  grid-template-columns: auto auto;
  height: 50%;
  background-color: white;
  margin: 80px;
  margin-left: 879px;
  margin-top: -899px;
  margin-bottom: 33%;
  margin-right: 0%;
     
      }
      
      .container6{
          margin-top: -30%;
      }
      .border-line{
          display: flex;
      }




      #grid2 { 
          display: grid;
      
          grid-template-columns: 1fr 1fr 1fr 1fr;
          margin-right: 319px;
          grid-gap: 40px;
          margin-right: 14px;
          margin-left: 186px;
          width: 77%;

  }  

  .grid-imageSize{
      height :270px;
      width: 250px;
  }

  .fa, .fab, .fal, .far, .fas {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      letter-spacing: 10px;
      color: #888888;
  }

  .SUBSCRIBE-TO-US {
      width: 170px;
      height: 15px;
      font-family: Poppins;
      font-size: 20px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: center;
      color: #555555;
      
      h4{
          margin-right: -782%;
      }
      p{
          width: 888%;
font-family: Poppins;
font-size: 14px;
font-weight: 300;
font-style: normal;
font-stretch: normal;
line-height: 1.86;
letter-spacing: normal;
text-align: center;
color: #666666;
      }
      
    }
    .fa-paper-plane{
      width: 20px;
      height: 21px;
      font-family: FontAwesome;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: left;
      color: #ee534f;
      margin-right: 12px;
    }
  

  ///////////////////////////contact page/////////////////////////////////
  .section21{
    p{
        font-size: 13px;
      }
  }
  
  
  .section21{
    display: grid;
    grid-template-columns: auto auto;
  }

  .section21{
    padding:9%;
    background-color: $primary-background;
   .headerText-1{
       font-size:20px;
       text-align: center;
       float: right;
       padding-left:291px;
       color:#555555;
   }
   img{
     width: 10px;
   }
   span{
     color: $main-color;
     
   }
  }

  .section22 {
    display: inline-flex;
    grid-template-columns: auto auto;
    grid-column-start: 1;
    grid-column-end: 2; 
  }

  .section22{
    padding:10%;
    background-color: white;
    img{
      width: 15px;
      border-radius: 4px;  
      padding: 3px ;
      display: inline-flex;
      margin-top: 12px;
      border: $primary-background solid 1px;
     }
    
    .border{
      width:7%;
      color: #e38f84;
      border-top: 3px solid;
      opacity:30%;
    }
    .border2{
      width:1%;
      color: $main-color;
      border-top: 3px solid;
      opacity:30%;
    }
    form{
      margin-top: 10px;
      .input-1{
        border-radius:4px;
        border: 1px $primary-background solid;
        padding: 12px 30px;
      
       }
      }
      .contact-box{
        display: flex;
        align-items:center;
        p{
          padding: 0px;
          margin-bottom: 0px;
        }
      }
    }
    
    
    .section_3{
      .mapSizing {
        text-align: right;
        height: 400px;
        width: 1300px;
        filter: grayscale(100%);
        margin-top: -6%;
        margin-bottom: 15%;
        margin-left: 212.688px;
    }
    .googleMap {
        overflow: hidden;
        background: none !important;
        height: 500px;
        width: 1080px;
    }
    }
  

    .section_4 {
      display: inline-flex;
      grid-template-columns: auto auto auto auto;
      grid-column-start: 1;
      grid-column-end: 2; 
    }

   .location1{
    margin-top: -76px;
   }